<p-dialog
  [(visible)]="visible"
  (visibleChange)="visibleChange.emit($event)"
  [style]="{ width: '520px' }"
  header="Phân công ca làm">
  <div class="assignment-info">
    <b>{{ shift?.name }}</b>
    <span>{{ date | date:'EEEE, dd/MM/yyyy':'':'vi-VN' }}</span>
  </div>

  <div class="current-assignees" *ngIf="assignments.length">
    <span *ngFor="let item of assignments" class="assignment-pill">
      {{ item.user?.fullName || item.user?.username }}
      <button pButton icon="pi pi-times" class="p-button-text" (click)="remove.emit(item)"></button>
    </span>
  </div>

  <div class="form-field">
    <label for="shift-employee">Chọn nhân viên để thêm vào ca</label>
    <p-autoComplete
      inputId="shift-employee"
      [(ngModel)]="selectedUser"
      [suggestions]="suggestions"
      (completeMethod)="searchUsers($event)"
      (onSelect)="selectUser($event.value)"
      optionLabel="fullName"
      [dropdown]="true"
      
      [forceSelection]="true"
      placeholder="Tìm theo họ tên hoặc tên đăng nhập...">
      <ng-template let-user pTemplate="item">
        <div>{{ user.fullName || user.username }}</div>
        <small *ngIf="user.fullName">{{ user.username }}</small>
      </ng-template>
    </p-autoComplete>
  </div>
</p-dialog>
