<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Quản lý nhà hàng Admin</title>
        <base href="/">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />
        <link href="https://unpkg.com/quill@1.3.7/dist/quill.snow.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="https://primefaces.org/cdn/primeng/images/favicon.png">
        
    </head>
    <body>
        <div class="card">
            <p-toast></p-toast>
            <p-confirmDialog></p-confirmDialog>
            
            <p-toolbar class="mb-4">
              <ng-template pTemplate="start">
                  <p-button icon="pi pi-plus" label="Thêm nhà hàng" class="mr-2" [rounded]="true" [outlined]="true" (click)="openNew()" />
                  <p-button icon="pi pi-trash" label="Xóa đã chọn" [rounded]="true" [outlined]="true" severity="danger" 
                           [disabled]="!selectedRestaurants || selectedRestaurants.length === 0" (click)="deleteSelectedRestaurants()" />
              </ng-template>
            
            <ng-template pTemplate="end">
                <p-fileUpload
                mode="basic"
                accept="image/*"
                [maxFileSize]="1000000"
                label="Import"
                chooseLabel="Import"
                [auto]="true"
                [customUpload]="true"
                class="mr-2 inline-block"
                [chooseButtonProps]="{ severity: 'secondary' }">
                </p-fileUpload>
            </ng-template>
            </p-toolbar>
            <p-table
            #dt
            [value]="Restaurants"
            [rows]="10"
            [columns]="cols"
            [paginator]="true"
            [tableStyle]="{ 'min-width': '75rem' }"
            [(selection)]="selectedRestaurants"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
          
            <ng-template pTemplate="caption">
              <div class="flex items-center justify-between">
                <h5 class="m-0">Quản lý nhà hàng</h5>
                <div class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="onGlobalFilter($event, dt)" placeholder="Search..." />
                </div>
              </div>
            </ng-template>
          
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="min-width: 16rem">Mã</th>
                <th pSortableColumn="name" style="min-width:16rem">
                  <div class="flex items-center gap-2">
                    Tên
                    <p-sortIcon field="name"></p-sortIcon>
                  </div>
                </th>
                <th pSortableColumn="address" style="min-width: 8rem">
                  <div class="flex items-center gap-2">
                    Địa chỉ
                    <p-sortIcon field="address"></p-sortIcon>
                  </div>
                </th>
                <th pSortableColumn="phone" style="min-width:10rem">
                  <div class="flex items-center gap-2">
                    Số điện thoại
                    <p-sortIcon field="phone"></p-sortIcon>
                  </div>
                </th>
                <th pSortableColumn="description" style="min-width: 12rem">
                  <div class="flex items-center gap-2">
                    Chú thích
                    <p-sortIcon field="description"></p-sortIcon>
                  </div>
                </th>
                <th pSortableColumn="created" style="min-width: 12rem">
                  <div class="flex items-center gap-2">
                    Ngày tạo
                    <p-sortIcon field="created"></p-sortIcon>
                  </div>
                </th>
                <th pSortableColumn="updated" style="min-width: 12rem">
                  <div class="flex items-center gap-2">
                    Ngày chỉnh sửa
                    <p-sortIcon field="updated"></p-sortIcon>
                  </div>
                </th>
                <th style="min-width: 12rem"></th>
              </tr>
            </ng-template>
          
            <ng-template pTemplate="body" let-Restaurant>
              <tr>
                <td style="width: 3rem">
                  <p-tableCheckbox [value]="Restaurant"></p-tableCheckbox>
                </td>
                <td style="min-width: 16rem">{{ Restaurant.id }}</td>
                <td style="min-width: 16rem">{{ Restaurant.name }}</td>
                <td>{{ Restaurant.address }}</td>
                <td>{{ Restaurant.phone }}</td>
                <td>{{ Restaurant.description }}</td>
                <td>
                  {{ convertToLocalTime(Restaurant.created) | date:'HH:mm dd/MM/yyyy' }}<br/>
                  {{ Restaurant.createdUser?.username }}
                </td>
                <td>
                  {{ convertToLocalTime(Restaurant.updated) | date:'HH:mm dd/MM/yyyy' }}<br/>
                  {{ Restaurant.updatedUser?.username }}
                </td>
                <td>
                  <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editRestaurant(Restaurant)"></p-button>
                  <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteRestaurant(Restaurant)"></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          
          <p-dialog [(visible)]="RestaurantDialog" [style]="{ width: '450px' }" header="Thông tin nhà hàng" [modal]="true">
            <ng-template pTemplate="content">
              <div class="flex flex-col gap-6">
                <div>
                  <label for="name" class="p-field">Tên nhà hàng</label>
                  <input type="text" pInputText id="name" [(ngModel)]="Restaurant.name" required autofocus fluid />
                  <small class="text-red-500" *ngIf="submitted && !Restaurant.name">Tên là bắt buộc.</small>
                </div>
                <div>
                  <label for="address" class="p-field">Địa chỉ</label>
                  <input type="text" pInputText id="address" [(ngModel)]="Restaurant.address" required fluid />
                  <small class="text-red-500" *ngIf="submitted && !Restaurant.address">Địa chỉ là bắt buộc.</small>
                </div>
                <div>
                  <label for="phone" class="p-field">Số điện thoại</label>
                  <input type="text" pInputText id="phone" [(ngModel)]="Restaurant.phone" required fluid />
                  <small class="text-red-500" *ngIf="submitted && !Restaurant.phone">Số điện thoại là bắt buộc.</small>
                </div>
                <div>
                  <label for="description" class="p-field">Chú thích</label>
                      <textarea  pInputText id="description" pTextarea [(ngModel)]="Restaurant.description"   fluid></textarea>
                </div>
              </div>
            </ng-template>
          
            <ng-template pTemplate="footer">
              <p-button label="Hủy" icon="pi pi-times" text (click)="hideDialog()"></p-button>
              <p-button label="Lưu" icon="pi pi-check" (click)="saveRestaurant()"></p-button>
            </ng-template>
          </p-dialog>
    </div>
    
        
    </body>
</html>